<!DOCTYPE html>

<head>

    <title>Tasks for Home Work 2 </title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">

</head>


<body>

    <h1>Python Practice - Session 1 Tasks</h1>
    {% block task_new %}{% endblock %}
    
</body>

</html>